.image1{
    border-radius: 40%;
}
body{
    align-items: center;
    justify-content: center;
display: flex;
flex-direction: column;
font-family: 'Anton', sans-serif;
background-image: url("https://i.pinimg.com/originals/d3/b9/cf/d3b9cf9838397e2a2fa97cde11e2c35c.jpg");
background-repeat: no-repeat;
background-size: cover;
}
hr{
    width: 100px;
}